@keyframes shake {
  0% {margin-left: 0px;}
  25% {margin-left: 25px;}
  50% {margin-left: -25px;}
  75% {margin-left: 25px;}
  100% {margin-left: 0px;}
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177);
  border: 1px solid rgb(202, 202, 202); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(230, 230, 230); 
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  font-family: 'Roboto';
  background: black;
}

h1,h2,h3,h4,h5 {
  font-family: 'Oswald', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
}
