.Appointments-wrapper {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Appointments-wrapper header {
  padding: 1rem;
}

.Appointments-list {
  width: 100%;
  height: 100%;
  display: block;
  flex-direction: column;

  font-size: calc(0.4rem + 0.7vw);
}

.Appointments-list table {
  background: black;
  width: 100%;
}
.Appointments-list tbody {
  overflow-y: scroll;
  position: relative;
  width: 100%;
}
.Appointments-list th {
  background: rgb(49, 49, 49);
  padding: 0.5rem;
  border-bottom: 1px solid white;
}
.Appointments-list td {
  background: rgb(199, 199, 199);
  color: black;
  padding: 0.5rem;
  position: relative;
}
.Appointments-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.Appointments-id {
  position: relative;
  left: 0;
  text-align: left;
  background: rgb(35, 35, 35);
  color: white;
  opacity: 0;
  transition: 0.5s opacity;
  cursor: text;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.Appointments-id:hover{
  opacity: 1;
}

.hover-red {
  color: white;
  transition: 0.7s color;
}

.hover-red:hover{
  color: red;
}

.design-img {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
}

.Appointments-info {
  background: black;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.Appointments-info > span {
  word-break: break-all;
  margin: 0.5rem;
}