.Master_Create-wrapper {
  background: black;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
}

.Master_Create-wrapper > header {
  border-bottom: 1px solid white;
  padding: 1rem 0;
  width: 100%;
}

.Master_Create-wrapper input {
  margin: 1rem; 
  text-align: center;
  font-size: 1.5rem;
  width: 80%;
}

.Master_Create-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: black;
  position: relative;
  border: 2px solid white;
  margin-bottom: 0.5rem;
}
